@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
}
body {
  background-color: rgba(245, 248, 255, 1);
}
/* shared styles */
.noto-serif-font {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.title {
  font-size: 3.125rem;
  font-weight: 700;
  color: rgba(0, 0, 0, 1);
}
.description {
  font-size: 1.375rem;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.5);
}

/* Navbar styles */

.nav-item {
  list-style: none;
}

.nav-item a {
  text-decoration: none;
  color: #8987a1;
}

.nav-items-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1140px;
  margin: 1.875rem auto 7.5rem;
}

/* Responsive Navbar */

@media screen and (max-width: 576px) {
  .hide {
    display: none;
  }
  .navbar {
    max-width: 361px;
    margin: 1.875rem auto 7.5rem;
  }
}

/* Banner section start */

.banner-title {
  font-size: 4.063rem;
  font-weight: 700;
  color: #000000;
  line-height: auto;
  margin-bottom: 0.8125rem;
}
.orange {
  color: #e95a08;
}

.banner-description {
  font-size: 1.375rem;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.5);
  text-align: left;
}

.banner-info {
  text-align: left;
}
.banner {
  display: flex;
  justify-content: center;
  align-items: end;
  gap: 0;
  max-width: 1140px;
  height: 28.8125rem;
  margin: 0 auto 7.5rem;
}

@media screen and (max-width: 576px) {
  .banner {
    flex-direction: column-reverse;
    max-width: 361px;
  }
  .banner-image-container img {
    width: 100%;
  }
}

/* plant section start */

.plant-title {
  text-align: center;
}
.plant-description {
  text-align: center;
}

.plant-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  max-width: 1140px;
  margin: 0 auto;
}

.card-image {
  width: 100%;
  margin-bottom: 1.875rem;
}
.card-name {
  font-size: 1.375rem;
  font-weight: 500;
  color: rgba(17, 17, 17, 1);
  text-align: center;
}

.card-price {
  font-size: 1.375rem;
  font-weight: 700;
  color: rgba(17, 17, 17, 1);
}
.card-button {
  background-color: #e95a08;
  color: #ffffff;
  border: none;
  font-size: 1rem;
  font-weight: 600;
  padding: 1rem 3.125rem;
  width: 100%;
}

.card-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.25rem;
}

.card-description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1.875rem;
}
.card {
  max-width: 16.875rem;
}

.plant-card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.25rem;
}
.plants {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3.125rem;
  max-width: 1140px;
  margin: 0 auto 13.125rem;
}

@media screen and (max-width: 576px) {
  .plant-info {
    max-width: 361px;
    margin: 0 auto;
  }
  .plant-card-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
/* Plant lover section start */

.plant-lover {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3.75rem;
  max-width: 1140px;
  margin: 0 auto 8.4375rem;
}
.plant-lover-image-container {
  position: relative;
}

.trusted-badge img {
  height: 17.89rem;
  width: 17.89rem;
  position: absolute;
  top: -7.9rem;
  right: -7rem;
}

.plant-lover-items {
  margin-top: 1.25rem;
}

@media screen and (max-width: 576px) {
  .plant-lover {
    flex-direction: column;
    max-width: 361px;
  }
  .plant-lover-title {
    font-size: 24px;
  }
  .plant-lover-image-container img {
    width: 100%;
  }
}

/* Join section start */

.join {
  background-image: url("./assets/news-letter-bg.png");
  background-size: cover;
  max-width: 1440px;
  height: 33.3125rem;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-field {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0;
}
.join-title {
  color: #ffffff;
}

.join-input input {
  border: none;
  padding: 1rem 33.75rem 1rem 1.25rem;
  color: rgba(0, 0, 0, 0.5);
  text-align: left;
}

.join-button button {
  background-color: #e95a08;
  border: none;
  padding: 1rem 3.125rem;
  color: #ffffff;
}

.join-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

@media screen and (max-width: 576px) {
  .join {
    max-width: 393px;
    margin: 0 auto 0.5px;
    height: 276px;
  }
  .join-title {
    font-size: 20px;
  }
  .join-input input {
    border: none;
    padding: 16px 20px;
    color: rgba(0, 0, 0, 0.5);
    text-align: left;
    height: 100%;
  }
  .join-info {
    border: none;
  }
}
/* Footer section start */
.footer {
  max-width: 1140px;
  margin: 3.125rem auto;
  display: flex;
  justify-content: space-between;
}
.footer-logo {
  max-width: 22.5rem;
}
.logo-description {
  text-align: left;
  margin-top: 1rem;
}

.footer-links-1 ul li,
.footer-links-2 ul li {
  list-style: none;
}
.footer-link a {
  text-decoration: none;
  color: rgba(107, 114, 128, 1);
}
.footer-icons-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  max-height: fit-content;
}
.footer-ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}

@media screen and (max-width: 576px) {
  .footer {
    flex-direction: column;
    gap: 20px;
    max-width: 393px;
    margin: 0 auto;
    /* justify-content: start; */
  }
  .footer-ul {
    padding: 0;
  }
  .footer-icons-container {
    justify-content: flex-start;
  }
}

/* Latest deal section start */

.deal-title {
  text-align: center;
  margin-bottom: 1rem;
}
.deal-description {
  text-align: center;
}
.latest-deals {
  max-width: 1140px;
  margin: 0 auto 7.5rem;
  text-align: center;
}

@media screen and (max-width: 576px) {
  .latest-deals {
    max-width: 361px;
    margin: 0 auto 143px;
  }
}
/* Offer section start */

.offer {
  max-width: 1140px;
  height: 26.5rem;
  margin: 0 auto 7.5rem;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: repeat(2, 1fr);
  gap: 1.5rem;
}

.offer-image-container-1,
.offer-image-container-2,
.offer-image-container-3 {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.63rem;
}

.offer-image-container-1 {
  background-image: url("./assets/deal-bloom.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 0.88rem;
  grid-column: 1;
  grid-row: 1;
}

.offer-image-container-3 {
  background-image: url("./assets/deal-zabo.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 1.37rem;
  grid-column: 2;
  grid-row: 1 / span2;
  height: calc(100% - 1.5rem);
}

.offer-image-container-2 {
  background-image: url("./assets/deal-ana.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 0.88rem;
  grid-column: 1;
  grid-row: 2;
}

.offer-image-title {
  font-size: 1.25rem;
  font-weight: 700;
  color: #ffffff;
}
.offer-image-title-large {
  font-size: 2.5rem;
  font-weight: 700;
  color: #ffffff;
}
.offer-image-anchor-large a,
.offer-image-anchor a {
  font-size: 1rem;
  font-weight: 600;
  color: #ffffff;
}

@media screen and (max-width: 576px) {
  .offer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
    height: 581px;
    max-width: 361px;
    margin: 0 auto 40px;
  }
  .offer-image-container-1,
  .offer-image-container-2,
  .offer-image-container-3 {
    grid-column: auto;
    grid-row: auto;
    border-radius: 14px;
  }
}
